*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
ul,ol{

   list-style: none;   
}
.container{
    max-width:1170px;
    margin: 0 auto;
}
.clr{
    clear: both;
}


/* ALL COMMON CSS */
/* font-family: 'Cardo', serif;
font-family: 'Lato', sans-serif; */
#navber{
    height: 90px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
}
.main{
    display: flex;
    gap: 560px;
}
.menu ul{
    display: flex;
    gap: 77px;
}
.menu ul li a{
     font-size: 15px;
     font-weight: 400;
     font-family: 'Lato', sans-serif; 

}
.main .btn{
    border: 3px solid black;
    width: 188px; 
    border-radius: 10px;
}

.main .btn a{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding-left:34px ;
    line-height: 44px;
}
/* ======= */
.main_next{
   display: flex;
   gap: 140px;
   margin-bottom: 100px;
}
.main_next .text{
    width:354px;
}
.main_next .text h1 {
    font-size: 68px;
    font-weight: 700;
    font-family: 'Cardo', serif;
    color: #232323;
    line-height: 65px;
    margin-bottom: 40px;
 
}
.main_next .text h5{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #575757;
    margin-bottom: 40px;  
}
.main_next .text .sakib{
    border: 1px;
    background-color: black;  
    width: 188px; 
    border-radius: 10px;
}
.main_next .text .sakib a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding-left:31px ;
    line-height: 44px;
}
/* ============================ */
#memory{
    background: #000000;
     /* padding-top: 64px;  */
     /* padding-bottom: 45px;  */
    text-align: center;
    margin-bottom: 200px;
    width:100%;
    
}
.memory_text{
    width: 100%;
    text-align:center;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
   align-items: center;
  
}
.main_text{
    width: 400px;
    /* margin-left:200px; */
    /* margin:0 auto; */
   
}
.memory_text h2{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Cardo', serif;
    line-height: 45px;
}
.memory_text h5{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    border: 1px solid #fff;  
    /* width: 188px;  */
    border-radius: 10px; }
    /* margin-left: 441px; */
    /* text-align: center;
 
.btn a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif; */
    /* padding-left:31px ;
    line-height: 44px; */
/* } */